<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="/modules/coursebuilder-student-dashboard/_static/css/style.css" media="screen,projection">

    <script src="/static/polymer-1.2.0/webcomponentsjs/webcomponents-lite.js"></script>
    {% if use_flattened_html_imports %}
        <link rel="import" href="/static/html-imports/explorer-imports.html">
    {% endif %}
    <link rel="import" href="/modules/coursebuilder-student-dashboard/_static/student-dashboard.html">
</head>
<body>

<!-- Student Dashboard -->
    <student-dashboard></student-dashboard>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/modules/coursebuilder-student-dashboard/_static/js/materialize.min.js"></script>
<script src="/modules/coursebuilder-student-dashboard/_static/js/owl.carousel.min.js"></script>
<script src="/modules/coursebuilder-student-dashboard/_static/js/main.js"></script>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-44795600-39"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments)
  };
  gtag('js', new Date());
  gtag('config', 'UA-44795600-39');
</script>

</body>
</html>
